body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.CommentList {
  justify-content: center;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.Comment{
  padding: 10px 25px;
  border-bottom: 1px solid #ededed;
  font-size: 24px;
  font-weight: 300;
  color: rgb(77, 77, 77);
  -webkit-font-smoothing: antialiased;
}

.CommentInput {
  justify-content: center;
  padding: 10px 25px;
  border-bottom: 1px solid #ededed;
  font-size: 24px;
  font-weight: 300;
  color: rgb(77, 77, 77);
  -webkit-font-smoothing: antialiased;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ededed;
}


.CommentList input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.CommentList input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.CommentList input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}
